main
  padding: 2% 0

.sidebar-first
  +max-screen($size-768)
    margin-top: 2%

#featured
  +mp0
  +px-rem(max-height, 25.5)
  overflow: hidden
  background-image: url('../images/feature-bg.jpg')
  background-position: top center
  +background-size(cover)
  +box-shadow(inset 0px -10px 20px 0px rgba(0,0,0,0.45))

  h1,
  h2
    color: $color-white
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.85)

  p
    color: $color-white
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85)
