#back-to-top
  background: url(../images/orange-theme-images/arrow-up-large.png) no-repeat center center
  background-color: rgb(221, 221, 221)
  background-color: rgba(221, 221, 221, .7)
  bottom: 20px
  color: transparent
  display: none
  font: 0/0 a
  height: 46px
  position: fixed
  right: 20px
  text-shadow: none
  -webkit-transition: all .2s ease
  -moz-transition: all .2s ease
  -ms-transition: all .2s ease
  -o-transition: all .2s ease
  transition: all .2s ease
  width: 45px
  z-index: 100
#back-to-top:hover
  background-color: #f15a23
.button
  background: #f15a23
  border: none
  border-radius: 0
  color: $color-white
  cursor: pointer
  font-weight: 400
  height: auto
  overflow: visible
  padding: 7px 20px
  -webkit-transition: background-color .2s ease
  -moz-transition: background-color .2s ease
  -ms-transition: background-color .2s ease
  -o-transition: background-color .2s ease
  transition: background-color .2s ease
  width: auto
  text-shadow: none
  box-shadow: none

  &:hover
    background: #3a3a3a !important
    text-shadow: none
    color: white
  a
    color: $color-white

#featured
  +mp0
  +px-rem(padding, 2.5, 0, 1.5)
  background-color: #000000
  background-image: image_url('devdays.jpg')
  background-position: center -220px
  +background-size(cover)
  position: relative
  +box-shadow(inset 0px -10px 20px 0px rgba(0, 0, 0, 0.15))
  min-height: 400px

  .record
    text-align: center
    font-size: 16px
    color: lightgrey

  &:before
    +opacity(.7)
    background: rgba(#000, .75) image-url('mask.png') repeat top center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    display: block
    width: 100%

  & .columns
    text-align: center
  // New Boxes
  .slide-content
    background: rgb(0, 0, 0)
    /* Fallback for old IE */
    filter: alpha(opacity=60)
    /* Fallback for old IE */
    background: rgba(0, 0, 0, .6)
    top: 10px
    display: block
    left: 10px
    margin: 0
    overflow: hidden
    padding: 20px 20px 20px
    position: absolute
    width: 470px
    z-index: 2

    .button
      font-size: 23px
      display: block
      text-align: center
  .box-container
    text-align: center

    .box
      +px-rem(padding, .25, .6)
      +px-rem(margin-bottom, .45)
      +border-radius(.35em)
      background: rgba($color-white, .9)

      h6
        +font-size(1.4, 1)
        margin-bottom: 0

      &.blue
        background-color: #3b8acd
        +filter-gradient(#3b8acd, #035787, vertical)
        +background-image(linear-gradient(top, #3b8acd 0%, #035787 100%))
        +text-shadow(1px 1px 1px rgba(#000, 0.75))
        color: #ffffff

        h4
          +font-size(1.6)
          color: $color-white
          margin-bottom: 0

        .rounded
          +border-radius(50%)
          background-color: darken(#035787, 3%)
          display: block
          width: 1em
          height: 1em
          +font-size(1.5, 1.4)
          margin: 0 auto
          font-style: normal
          position: static

      small
        font-size: 95%
        margin-top: .35em
        display: block

  h1
    margin-top: 0

  h1,
  h2
    color: $color-white
  h2
    font-size: 1.9rem
    line-height: 42px
  p
    color: $color-white

    p
      margin-bottom: 0

    small
      +px-rem(margin-top, -.5)
      display: block

    i
      +font-size(1.4)
      margin-right: 10PX

    &:hover
      i,
      small
        color: $color-white

@media only screen and (max-width: 1080px)
  #featured
    background-position: center -120px
    .slide-content
      left: 40px

@media only screen and (max-width: 910px)
  #featured
    min-height: 350px
    background-position: center -120px

@media only screen and (max-width: 830px)
  #featured
    min-height: 260px
    background-position: center -20px

    .slide-content
      left: 30px
      top: -20px
@media only screen and (max-width: 490px)
  #featured
    background-position: center 0px

    .slide-content
      width: 370px