[submodule "sites/all/modules/custom/walkhub"]
	path = sites/all/modules/custom/walkhub
	url = http://git.drupal.org/project/walkhub.git
[submodule "tests/pronovix-selenium-testcase"]
	path = tests/pronovix-selenium-testcase
	url = git@bitbucket.org:pronovix/pronovix-selenium-testcase.git
