// Foundation Settings file
//
// In order to use the settings copy over the settings file
// found in the zurb foundation github repository and then
// recompile and preprocess the theme again. 
//
// For a detailed list of each value and variable visit the sass settings:
// http://foundation.zurb.com/docs/sass-settings.php
//
// For the latest settings.css file, it can be found here: 
// https://raw.github.com/zurb/foundation/master/scss/foundation/_settings.scss
//
// Be sure to check which version of foundation you're using.

//============================
// Examples:
//============================
// Color
// $mainColor: #2ba6cb;
// $secondaryColor: #e9e9e9;
// $alertColor: #c60f13;
// $successColor: #5da423;
// $txtColor: #222;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);