.page-node-add-walkthrough,
.page-node-edit.node-type-walkthrough

  #page-title
    margin-bottom: 1em

  .row.l-main
    #edit-body-und-0-format,
    .field-edit-link,
    #field-raw-input-add-more-wrapper,
    #og-group-ref-add-more-wrapper--2,
    #edit-field-prerequisites,
    #group-col legend,
    #edit-og-group-ref-und .description,
    .sticky-header,
    .tabledrag-toggle-weight,
    .field-name-field-fc-steps thead,
    #edit-field-parameters
      display: none


    .form-item-title,
    .form-item-body-und-0-value
      +clearfix
      +px-rem(margin-bottom, 1)

    label
      +font-size(1)
      margin: 0
      font-weight: normal
      float: left
      width: 20%
      margin-right: 1em
      margin-top: 0.2em

    #edit-title,
    #edit-body-und-0-value,
    .grippie
      float: right
      width: 76%
      margin: 0

    #ad-set
      +clearfix
      .le
        float: left
        float: left
        width: 20%

        .button
          margin-top: 1.33em

      .ri
        float: right
        width: 76%
        display: none

    #edit-actions
      text-align: center

    .back.button
      margin-right: .25em

    #wrapper-fg
      padding-left: 24%

    #field_tags-col,
    #group-col
      width: 50%
      +box-sizing(border-box)
      float: left

    #field_tags-col
      padding-right: 2%

    #group-col
      padding-left: 2%

    #edit-og-group-ref-und
      padding: 0

    #og-group-ref-add-more-wrapper

      label
        width: 100%

    #s2id_edit-og-group-ref-und-0-default,
    #field-fc-steps-values
      width: 100%!important

    .field-name-field-fc-steps
      margin-bottom: 2em

    table
      border: 0

    table tr.even,
    table tr.alt,
    table tr:nth-of-type(even)
      background: transparent

    form .field-multiple-table td.field-multiple-drag
      +

    .draggable a.tabledrag-handle
      +mp0
      width: 30px

      &:hover:after
        +opacity(1)

      &:after
        +opacity(.65)
        +mp0
        color: #6f6f6f
        +font-size(.8, 0)
        +font-icomoon
        text-align: center
        content: "\e607"
        display: block

      .handle
        +mp0
        background: transparent

    #field-fc-steps-values
      .grippie
        width: 100%
        float: none

    .walkthrough-step-edit
      .walkthrough-step-container
        +px-rem(margin, 0, .5, 1, .5)
        +px-rem(padding, .75, .5)
        +border-radius(0 0 .2em .2em)
        background-color: #f6f6f6
        display: none
        position: relative

      .step-title.button
        margin: 0
        width: 100%
        display: block
        height: 32px
        overflow: hidden

        span
          font-weight: bold
          display: inline-block

      .le
        float: left
        width: 46%
        margin-right: 4%

      .ri
        float: right
        width: 46%
        margin-right: 4%