.button-group
  li
    a
      background-color: #616163

    .active
      background-color: #474747

ol
  padding-left: 25px
  line-height: 28px
  li
    font-size: 14px
.node-page,.profile
  ul
    list-style: none
    line-height: 28px
    li
      background: url(../images/orange-theme-images/list-arrow.png) no-repeat 5px 7px
      list-style: none
      font-size: 14px
      margin: 0
      padding: 0 0 0 24px
      color: #474747
  code
    display: block
    padding: 9px
    margin: 0 0 9.5px
    font-size: 13px
    line-height: 1.42857
    word-break: break-all
    word-wrap: break-word
    color: #333333
    background-color: whitesmoke
    border: 1px solid #cccccc
    border-radius: 4px
    white-space: pre-wrap
    p
      margin-bottom: 5px
.node-type-page
  .l-main
    .main
      .page-title
        +px-rem(padding-right, 2)

      .body
        h2
          background-color: #F6F6F6
          +px-rem(padding, 0.5)
          border-radius: 5px

          a
            color: $color-black

        li
          +px-rem(margin-left, 2)

      img
        width: 100%
        height: auto


  .clearfix::after
    clear: both
    content: ' '
    display: block
    font-size: 0
    height: 0
    line-height: 0
    visibility: hidden
    width: 0

  main.row.l-main
    height: 60px

.screening-schedule
  display: none
  ul

  li
    float: left
    list-style: none
    width: 33%
    text-align: center
    background-color: #f15a23
    padding: 5px 0px
    position: relative

    &:hover
      background-color: #474747
  a
    color: #ffffff
    display: block
  .active
    background-color: #474747
    a
      color: #ffffff
      display: block
    .ajax-progress
      position: absolute
      right: 5px
      top: 8px
  .first
    margin-right: 4px
  .last
    margin-left: 4px

.item-list
  margin-bottom: 20px
.item-list:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0